:root {
	/* --main-bg-color: #FFF5F5; */
	/* --footer-bg-color: #956A6B; */

	/* --font-color-dark: #372018; */
	--font-color-light: #fff;

	--fs-900: 5.6rem;
  --fs-700: 4.8rem;
	--fs-400: 1.4rem;
}



/* --------------------------- */
/* Reset                       */
/* --------------------------- */

/* Box sizing  */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
p,
ul,
figure,
picture {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set up default root font size */
html {
	font-size: 62.5%; /* 10px */
}

/* Set up the body */
body {
	font-family: 'Inter', sans-serif;
	font-size: var(--fs-400);
	font-weight: 400;
	color: var(--font-color-light);
	line-height: 1.5;
	min-height: 100vh;
	position: relative;
	top: 0;
	left: 0;
}

h1 {
	font-size: var(--fs-900);
	line-height: 1.3;
}

h2 {
	font-size: var(--fs-700);
	line-height: 1.3;
}

section:not(:first-child) {
	padding-top: 7rem;
  padding-bottom: 10rem;
}

section:last-child {
	padding-bottom: 12rem;
	margin-bottom: 5rem;
}

/* Utility classes */

/* Navbar */

.navbar-nav {
  width: 100%;
  max-width: 450px;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link:hover {
  color:#1170ff !important;
}

/* Hero */
#hero {
  background-image: url('img/hero_lg_ex.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-content {
  background-image: url('./img/dark_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#about {
  background-image: url('./img/about_bg.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 7rem;  
  padding-bottom: 10rem;
}

/* Numbers */
.numbers {
  margin-bottom: 12rem;
}

.number {
  color: #11B6FF;
  font-weight: 900;
  font-size: 3.6rem;
}

.card-item {
  min-width: 300px;
  max-width: 558px;
  border: 1px solid #11B6FF;
  box-shadow: 0px 3px 26px 14px rgba(17, 182, 255, 0.1);
  border-radius: 10px;
}

.card-item:not(:last-child) {
  margin-bottom: 36px;
}

.card-item:hover {
  transform: scale(1.2);
  transition: transform 300ms ease-out;
}

.card-item .text {
  max-width: 366px;
}

.plans-container {
  margin-top: 10rem;
}

.plan-item {
  padding-inline: 5rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  border: 1px solid #11B6FF;
  box-shadow: 0px 2px 87px 8px rgba(63, 140, 255, 0.25);
  border-radius: 4px;
  position: relative;
}

.label-popular {
  width: 100%;
  padding-block: 1rem;
  position: absolute;
  top: 0;
  border-bottom: 1px solid #11B6FF;
  color: #11B6FF;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
}

.plan-name {
  font-size: 3.2rem;
  font-weight: 700;
}

.plan-price {
  font-size: 4.8rem;
  font-weight: 900;
  color:#11B6FF;
}

.feature-item:not(:first-child) {
  margin-top: 2rem;
}

.feature-item {
  position: relative;
}

.feature-item::before {
  content: '\2713';
  position: absolute;
  top: 0;
  left: -30px;
}

.advantage-item {
  max-width: 364px;
  min-width: 300px;
  border: 1px solid #11B6FF;
  box-shadow: 0px 2px 87px 8px rgba(63, 140, 255, 0.25);
  border-radius: 4px;
}

.form-wrapper {
  border: 1px solid #11B6FF;
  box-shadow: 0px 2px 87px 8px rgba(63, 140, 255, 0.25);
  border-radius: 4px;  
}

.contacts-wrapper {
  border-top: 1px solid #11B6FF;  
}
